
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
nav ul {
    padding-left: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: #212528;
    color: #fff;
    padding: 1rem;
}
.sidebar a {
    color: #fff;
}
.logo {
    width: 30px;
}
.logo_box {
    gap: 10px;
}
.main {
    flex-direction: column;
    flex-grow: 1;
    padding: 0 30px;
}
