
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
nav ul {
    padding-left: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    background-color: #212528;
    color: #fff;
    padding: 1rem;
}
.user-block{
    position: relative;
    cursor: pointer;
}
.submenu{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 100%;
    display: none;
    flex-direction: column;
    padding: 15px;
    background-color: #495057;

}
.submenu a {
    color: #fff;
}
.user-block:hover .submenu {
    display: flex;
}
.logo {
    width: 30px;
}
.logo_box {
    gap: 10px;
}
.main {
    flex-direction: column;
    flex-grow: 1;
    padding: 0 30px;
}
.row {
    width: 100%;

}
.card {
    margin: 0 30px;
}