<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="wrap d-flex p-4">
    <div class="sidebar">
        <h1>B МЕНЮ</h1>
        <nav>
            <ul>
                <li>Главная</li>
                <li>Категории</li>
                <li>Заказы</li>
                <li>Контакты</li>
            </ul>
            <p>
                Accaunt
            </p>
        </nav>

    </div>
    <div class="main">
        <h2>Главная</h2>
        <p>Вы находитесь на сайте, предназначенном для продажи товаров
        </p>
        <div class="row">
            <div class="card col-md-4">
                <h3>Товар 1</h3>
                <p>$100</p>
                <p>10 users</p>
                <button>Купить</button>
            </div>
            <div class="card col-md-4">
                <h3>Товар 1</h3>
                <p>$100</p>
                <p>10 users</p>
                <button>Купить</button>
            </div>
            <div class="card col-md-4">
                <h3>Товар 1</h3>
                <p>$100</p>
                <p>10 users</p>
                <button>Купить</button>
            </div>
        </div>
    </div>

</div>


</body>
</html>