<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="wrap d-flex vh-100">
    <div class="sidebar">
        <div class="logo_box mb-3 d-flex align-items-center">
            <img class="logo" src="../static/img/logo.svg" alt="">
            <h1 class="fs-5 mb-0">МЕНЮ</h1>
        </div>
        <nav>
            <ul class="nav nav-pills flex-column">
                <li><a href="index.html" class="nav-link text-white"><i class="bi bi-house-door me-2"></i>Главная</a></li>
                <li><a href="categories.html" class="nav-link text-white"><i class="bi bi-list-ul me-2"></i>Категории</a></li>
                <li><a href="#" class="nav-link active"><i class="bi bi-box-seam me-2"></i>Заказы</a></li>
                <li><a href="contacts.html" class="nav-link text-white"><i class="bi bi-telephone me-2"></i>Контакты</a></li>
            </ul>

        </nav>
        <div class="mt-auto">
            <div class="dropdown dropup">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                   data-bs-toggle="dropdown">
                    <i class="me-2 bi bi-person-circle"></i>

                    <strong>Пользователь</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                    <li><a class="dropdown-item" href="#">Профиль</a></li>
                    <li><a class="dropdown-item" href="#">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main d-flex align-items-center">
        <h2 class="display-4 mb-3">Каталог</h2>
        <div class="row g-4 mb-1">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://placehold.in/300x200@2x.png/dark" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores atque cumque deserunt eligendi enim error ex incidunt inventore laboriosam maxime minima nesciunt numquam obcaecati, reiciendis saepe totam, veniam voluptatibus?
                        </p>
                        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                            <div class="btn-group">
                                <button class="btn btn-sm">View</button>
                                <button class="btn btn-sm">Edit</button>
                            </div>
                                <small class="text-muted ms-auto text-align-right">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="https://placehold.in/300x200@2x.png/dark" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores atque cumque deserunt eligendi enim error ex incidunt inventore laboriosam maxime minima nesciunt numquam obcaecati, reiciendis saepe totam, veniam voluptatibus?
                        </p>
                        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                            <div class="btn-group">
                                <button class="btn btn-sm">View</button>
                                <button class="btn btn-sm">Edit</button>
                            </div>
                                <small class="text-muted ms-auto text-align-right">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row g-4">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://placehold.in/300x200@2x.png/dark" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores atque cumque deserunt eligendi enim error ex incidunt inventore laboriosam maxime minima nesciunt numquam obcaecati, reiciendis saepe totam, veniam voluptatibus?
                        </p>
                        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                            <div class="btn-group">
                                <button class="btn btn-sm">View</button>
                                <button class="btn btn-sm">Edit</button>
                            </div>
                                <small class="text-muted ms-auto text-align-right">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <img src="https://placehold.in/300x200@2x.png/dark" class="card-img-top" alt="...">
                    <div class="card-body p-4">
                        <p class="text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores atque cumque deserunt eligendi enim error ex incidunt inventore laboriosam maxime minima nesciunt numquam obcaecati, reiciendis saepe totam, veniam voluptatibus?
                        </p>
                        <div class="card-footer d-flex justify-content-between align-items-center bg-white">
                            <div class="btn-group">
                                <button class="btn btn-sm">View</button>
                                <button class="btn btn-sm">Edit</button>
                            </div>
                                <small class="text-muted ms-auto text-align-right">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>